.header {
  height: 34vw;
  margin: 35px auto;
  background: url(/sudamab&w.png);
  background-size: cover;
  position: relative;
  border: 2px solid grey;
  border-radius: 25px;
  filter: drop-shadow(2px 4px 6px black);
}
.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  gap: 10px;
  animation: fadeIn 3s;
}
.header-contents h2 {
  color: #ff0000;
}
.header-contents p {
  color: white;
  font-size: 1vw;
}
.header-contents button {
  border: none;
  color: black;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: #ff0000;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}

@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}
@media (max-width: 768px) {
  .header-contents {
    max-width: 65%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}
