.iframe {
  width: 100%;
  box-sizing: border-box;
  border-radius: 25px;
  filter: brightness(0.9);
}
@media (min-width: 765px) {
  .iframe {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 1020px) {
  .iframe {
    width: 400px;
    height: 250px;
  }
}
